:root {
  /* Colors: */
  --main-color: rgb(227, 226, 226);
  --second-color: #63718b;
  --third-color: #012e45;
  --hover-color: #e79c25;

  /* Fonts: */
  --heading-font: "Cabin", sans-serif;;
  --main-font: "Nunito Sans", sans-serif;

  /* Padding and margin spaces: */
  --space-xs: 1rem;
  --space-xs2: 2rem;
  --space-s: 3rem;
  --space-m: 4rem;
  --space-l: 5rem;
  --space-xl: 6rem;
  --space-xxl: 7rem;
  --space-xxxl: 9rem;

  /* Font sizes: */
  --size-xs: 1.3rem;
  --size-s: 1.5rem;
  --size-s2: 1.8rem;
  --size-m: 2rem;
  --size-l: 2.5rem;
  --size-xl: 3rem;
  --size-xxl: 3.6rem;
  --size-xxxl: 4rem;
}

body, html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}


#mainContainer {
  background-color: var(--main-color);
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

