/* OBECNÁ NASTAVENÍ */

.outsideBox {
  width: 80%;
}

p,
span {
  font-family: var(--main-font);
}

/* NAVBAR */
.navbarSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: var(--space-s);
  padding-bottom: var(--space-s);
  border-bottom: solid 0.5px var(--third-color);
}

.navbarSection ul li {
  font-size: var(--size-m);
  margin-left: var(--space-s);
  margin-right: var(--space-s);
  text-decoration: none;
  list-style: none;
  font-family: var(--main-font);
  color: var(--third-color);
}

.navbarSection ul li:hover {
  color: var(--hover-color);
  cursor: pointer;
}


/* FIRST SECTION - ABOUT */
.firstSection-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.firstSection-about h1 {
  font-family: var(--heading-font);
  font-size: var(--size-xxxl);
  color: var(--second-color);
  margin-bottom: var(--size-xs);
}

.firstSection-about h1 span {
  color: var(--third-color);
}

.motto {
  font-size: var(--size-s2);
  border-bottom: solid 0.5px var(--third-color);
  padding-bottom: var(--size-xs);
}

.firstSection-innerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

