/* OBECNÁ NASTAVENÍ */

.outsideBox {
  width: 80%;
  height: 100%;
}

p,
span {
  font-family: var(--main-font);
}

/* NAVBAR */
.navbarSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: var(--space-s);
  padding-bottom: var(--space-s);
  border-bottom: solid 0.5px var(--third-color);
}

.navbarSection ul li {
  font-size: var(--size-m);
  margin-left: var(--space-s);
  margin-right: var(--space-s);
  text-decoration: none;
  list-style: none;
  font-family: var(--main-font);
  color: var(--third-color);
  font-weight: 600;
}

.navbarSection ul li:hover {
  color: var(--hover-color);
  cursor: pointer;
}


/* FIRST SECTION - ABOUT */
.firstSection-about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: calc(var(--size-xxl) * 2);
}

.firstSection-about h1 {
  font-family: var(--heading-font);
  font-size: calc(var(--size-xl) * 2);
  color: var(--second-color);
  margin-bottom: var(--size-xs);
  margin-top: 0;
}

.firstSection-about h1 span {
  color: var(--third-color);
}

.firstSection-about .popis {
  font-size: var(--size-s);
  text-align: justify;
  margin-top: var(--size-m);
}

.firstSection-innerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.firstSection-about .leftColumn {
  width: 60%;
}

.firstSection-about .rightColumn {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.motto {
  font-size: var(--size-m);
  padding-bottom: var(--size-xs);
  margin-bottom: var(--size-xl);
}

.line {
  width: 15%;
  height: 3px;
  background-color: var(--second-color);
  margin-top: var(--size-m);
}

#robot {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

/* Counts Up */
.countUp {
  font-size: calc(var(--size-l) * 2);
  font-family: var(--heading-font);
  margin-top: calc(var(--size-l) * 2);
  font-weight: 700;
  color: var(--second-color);
}

.counts-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.counts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: var(--size-m);
  margin-right: var(--size-m);
}

.counts:nth-of-type(1) {
  margin-left: 0;
}

.counts p {
  font-size: var(--size-m);
  margin-top: 0;
}



/* SECOND SECTION - POINTS */
.secondSection-points {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: calc(var(--size-xxl) * 3);
  margin-bottom: calc(var(--size-xxl) * 3);
}


.points {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



  /* THIRD SECTION - CARDS (SERVICES) */
  .thirdSection-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .thirdSection-cards h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
  }

  .thirdSection-cards .line {
    width: 10%;
  }

  .thirdSection-cards .bigCard {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--space-xl) 0;
  }