/* OBECNÁ NASTAVENÍ */
.mainContainer {
  position: relative;
}

.outsideBox {
  width: 80%;
  height: 100%;
}

p,
span {
  font-family: var(--main-font);
}

/* NAVBAR */
.navbarSection {
  width: 100%;
  background-color:  rgb(227, 226, 226, 0.9);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: var(--space-s);
  padding-bottom: var(--space-s);
  border-bottom: solid 0.5px var(--third-color);
}

.navbarSection ul {
  margin-bottom: 0;
}

.navbarSection ul li {
  font-size: var(--size-m);
  margin-left: var(--space-s);
  margin-right: var(--space-s);
  list-style: none;
  font-family: var(--main-font);
  font-weight: 600;
}

.navbarSection a {
  color: var(--third-color);
  text-decoration: none;
}

.navbarSection a:hover {
  color: var(--hover-color);
  cursor: pointer;
}

/* FIRST SECTION - ABOUT */
#onas {
  scroll-margin-top: 12rem; /* Výška pevné navigace */
}

.firstSection-about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: calc(var(--size-xl) * 4);
}

.firstSection-about h1 {
  font-family: var(--heading-font);
  font-size: calc(var(--size-xl) * 2);
  color: var(--second-color);
  margin-bottom: var(--size-xs);
  margin-top: 0;
}

.firstSection-about h1 span {
  color: var(--third-color);
}

.firstSection-about .popis {
  font-size: var(--size-s2);
  text-align: justify;
  margin-top: var(--size-m);
}

.firstSection-innerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.firstSection-about .leftColumn {
  width: 60%;
}

.firstSection-about .rightColumn {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.motto {
  font-size: var(--size-m);
  padding-bottom: var(--size-xs);
  margin-bottom: var(--size-xl);
}

.line {
  width: 15%;
  height: 3px;
  background-color: var(--second-color);
  margin-top: var(--size-m);
}

#robot {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

/* Counts Up */
.countUp {
  font-size: calc(var(--size-l) * 2);
  font-family: var(--heading-font);
  margin-top: calc(var(--size-l) * 2);
  font-weight: 700;
  color: var(--second-color);
}

.counts-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.counts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: var(--size-m);
  margin-right: var(--size-m);
}

.counts:nth-of-type(1) {
  margin-left: 0;
}

.counts p {
  font-size: var(--size-m);
  margin-top: 0;
}



/* SECOND SECTION - POINTS */
.secondSection-points {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: calc(var(--size-xxl) * 3);
}


.points {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



  /* THIRD SECTION - CARDS (SERVICES) */
  .thirdSection-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: var(--space-xxl);
  }

  .thirdSection-cards h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
    color: var(--third-color);
  }

  .thirdSection-cards .line {
    width: 10%;
  }

  .thirdSection-cards .bigCard {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--space-xl) 0 var(--space-s) 0;
  }





  /* FOURTH SECTION - TÝM */
  .fourthSection-team {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: var(--space-xxl);
    background-color: var(--second-color);
  }

  .fourthSection-team h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
    color: var(--third-color);
  }

  .fourthSection-team .line {
    width: 10%;
    background-color: white;
  }

  .fourthSection-team .popis {
    font-size: var(--size-s2);
    text-align: justify;
    margin-top: var(--size-xxl);
    color: white;
  }

  .teamCards {
    width: 100%;
    height: auto;
    margin-top: var(--space-xxxl);
    margin-bottom: var(--space-m);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .teamCards .teamMember {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0 var(--space-xs) var(--space-xl) var(--space-xs);
    width: 35rem;
    border-right: 0.5px solid white;
  }

  .teamCards .teamMember img {
    width: 12rem;
    height: 12rem;
    object-fit: fit;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: var(--space-m);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  }

  .teamCards .teamMember .teamMember-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: var(--space-xs);
  }

  .teamCards .teamMember .teamMember-description .name {
    font-size: var(--size-m);
    color: white;
    margin: 0;
    margin-bottom: var(--space-xs);
    padding-bottom: calc(var(--space-xs) / 2);
    border-bottom: 1px solid white;
  }

  .teamCards .teamMember .teamMember-description .position {
    font-size: var(--size-s);
    color: white;
    margin: 0;
  }

  /* FIFTH SECTION - RECENZE */
  .fifthSection-recenze {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: var(--space-xxl);
    background-color: var(--main-color);
  }

  .fifthSection-recenze h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
    color: var(--third-color);
  }

  .fifthSection-recenze .line {
    width: 10%;
  }

  .fifthSection-recenze .popis {
    font-size: var(--size-s2);
    text-align: justify;
    margin-top: var(--size-xxl);
    color: black;
  }

  .fifthSection-recenze .recenze {
    margin-top: calc(var(--size-l) * 3);
    margin-bottom: calc(var(--size-l) * 3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }


  

  /* SIXTH SECTION - KONTAKT */
  .sixthSection-contact {
    width: 100%;
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: var(--space-xxl);
    background-color: var(--second-color);
  }

  .sixthSection-contact h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
    color: var(--third-color);
  }

  .sixthSection-contact .line {
    width: 10%;
    background-color: white;
  }