/* OBECNÁ NASTAVENÍ */
.mainContainer {
  position: relative;
}

.outsideBox {
  width: 80%;
  height: 100%;
}

p,
span {
  font-family: var(--main-font);
}

/* ---------------------------------------------------------------- */

/* NAVBAR */
.navbarSection {
  width: 100%;
  background-color:  rgb(227, 226, 226, 0.9);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: var(--space-s);
  padding-bottom: var(--space-s);
  border-bottom: solid 0.5px var(--third-color);
}

.navbarSection ul {
  margin-bottom: 0;
}

.navbarSection ul li {
  font-size: var(--size-m);
  margin-left: var(--space-s);
  margin-right: var(--space-s);
  list-style: none;
  font-family: var(--main-font);
  font-weight: 600;
}

.navbarSection a {
  color: var(--third-color);
  text-decoration: none;
}

.navbarSection a:hover {
  color: var(--hover-color);
  cursor: pointer;
}

/* ---------------------------------------------------------------- */



/* FIRST SECTION - ABOUT */
#onas {
  scroll-margin-top: 12rem; /* Výška pevné navigace */
}

.firstSection-about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: calc(var(--size-xl) * 4);
}

.firstSection-about h1 {
  font-family: var(--heading-font);
  font-size: calc(var(--size-xl) * 2);
  color: var(--second-color);
  margin-bottom: var(--size-xs);
  margin-top: 0;
}

.firstSection-about h1 span {
  color: var(--third-color);
}

.firstSection-about .popis {
  font-size: var(--size-s2);
  text-align: left;
  margin-top: var(--size-m);
}

.firstSection-innerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.firstSection-about .leftColumn {
  width: 60%;
}

.firstSection-about .rightColumn {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.motto {
  font-size: var(--size-m);
  padding-bottom: var(--size-xs);
  margin-bottom: var(--size-xl);
}

.line {
  width: 15%;
  height: 3px;
  background-color: var(--second-color);
  margin-top: var(--size-m);
}

#robot {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

/* Counts Up */
.countUp {
  font-size: calc(var(--size-l) * 2);
  font-family: var(--heading-font);
  margin-top: calc(var(--size-l) * 2);
  font-weight: 700;
  color: var(--second-color);
}

.counts-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.counts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: var(--size-m);
  margin-right: calc(var(--size-l) * 2);
  text-align: center;
}

.counts-container .counts:nth-of-type(1) {
  margin-left: 0;
}

.counts-container .counts:nth-of-type(3) {
  margin-right: 0;
}

.counts p {
  font-size: var(--size-m);
  margin-top: 0;
}

/* ---------------------------------------------------------------- */





/* SECOND SECTION - POINTS */
.secondSection-points {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: calc(var(--size-xxl) * 3);
}


.points {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* ---------------------------------------------------------------- */




  /* THIRD SECTION - CARDS (SERVICES) */
  .thirdSection-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: var(--space-xxl);
  }

  .thirdSection-cards h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
    color: var(--third-color);
  }

  .thirdSection-cards .line {
    width: 10%;
  }

  .thirdSection-cards .bigCard {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--space-xl) 0 var(--space-s) 0;
  }


/* ---------------------------------------------------------------- */



  /* FOURTH SECTION - TÝM */
  .fourthSection-team {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: var(--space-xxl);
    background-color: var(--second-color);
  }

  .fourthSection-team h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
    color: var(--third-color);
  }

  .fourthSection-team .line {
    width: 10%;
    background-color: white;
  }

  .fourthSection-team .popis {
    font-size: var(--size-s2);
    text-align: left;
    margin-top: var(--size-xxl);
    color: white;
  }

  .teamCards {
    width: 100%;
    height: auto;
    margin-top: var(--space-xxxl);
    margin-bottom: var(--space-m);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .teamCards .teamMember {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0 var(--space-m) var(--space-xl) var(--space-xs);
    width: 30rem;
    border-right: 0.5px solid white;
  }

  .teamCards .teamMember img {
    width: 10rem;
    height: 10rem;
    object-fit: fit;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: var(--space-s);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  }

  .teamCards .teamMember .teamMember-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: var(--space-xs);
  }

  .teamCards .teamMember .teamMember-description .name {
    font-size: var(--size-m);
    color: white;
    margin: 0;
    margin-bottom: var(--space-xs);
    padding-bottom: calc(var(--space-xs) / 2);
    border-bottom: 1px solid white;
  }

  .teamCards .teamMember .teamMember-description .position {
    font-size: var(--size-s);
    color: white;
    margin: 0;
  }

  /* ---------------------------------------------------------------- */





  /* FIFTH SECTION - RECENZE */
  .fifthSection-recenze {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: var(--space-xxl);
    background-color: var(--main-color);
  }

  .fifthSection-recenze h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
    color: var(--third-color);
  }

  .fifthSection-recenze .line {
    width: 10%;
  }

  .fifthSection-recenze .popis {
    font-size: var(--size-s2);
    text-align: left;
    margin-top: var(--size-xxl);
    color: black;
  }

  .fifthSection-recenze .recenze {
    margin-top: calc(var(--size-l) * 3);
    margin-bottom: calc(var(--size-l) * 3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }

/* ---------------------------------------------------------------- */



  

  /* SIXTH SECTION - KONTAKT */
  .sixthSection-contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: var(--space-xxl);
    background-color: var(--second-color);
  }

  .sixthSection-contact h2 {
    font-family: var(--heading-font);
    font-size: calc(var(--size-l) * 2);
    letter-spacing: 0.4rem;
    color: var(--third-color);
  }

  .sixthSection-contact .line {
    width: 10%;
    background-color: white;
  }

  .sixthSection-contact .popis {
    font-size: var(--size-s2);
    text-align: left;
    margin-top: var(--size-xxl);
    color: white;
  }

  .sixthSection-contact .contactPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-m);
    height: auto;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
  }

  .sixthSection-contact .contactPage .formular {
    min-width: 40%;
    max-width: 60%;
    height: 100%;
    margin: var(--space-s) var(--space-s) var(--space-s) 0;
  }

  .sixthSection-contact .contactPage .kontaktniInformace {
    min-width: 40%;
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
  }

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice .contactIcon {
    color: white;
    font-size: var(--size-xxl);
    margin-right: var(--space-s);
  }

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice .contactIcon:hover {
    cursor: pointer;
    color: var(--third-color);
  }

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice p {
    color: white;
    font-size: var(--size-s);
  }

  .sixthSection-contact .contactPage .kontaktniInformace .mapa {
    margin-bottom: var(--space-s);
    margin-top: var(--space-s);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  }

/* ---------------------------------------------------------------- */



  /* FOOTER */
  .footer {
    height: auto;
    width: 100%;
    text-align: center;
  }

  .footer p {
    font-size: var(--size-xs);
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
  }





/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */


  /* RESPONSIVITA */


  /* NAVBAR */
  @media only screen and (max-width: 800px) {
    .navbarSection .menu {
      display: none;
    }

    .navbarSection .menu {
      border-bottom: none;
    }
  }
  


  /* ---------------------------------------------------------------- */

  /* ABOUT */
  @media only screen and (max-width: 1420px) {
    #robot {
      width: 30rem;
      height: 30rem;
    }
  }

  @media only screen and (max-width: 1420px) {
    .counts-container {
      width: 160%;
    }
  }

  @media only screen and (max-width: 1100px) {
    #robot {
      width: 25rem;
      height: 25rem;
    }
  }

  @media only screen and (max-width: 900px) {
    #robot {
      width: 22rem;
      height: 22rem;
      margin-top: var(--space-s);
    }
  }

  @media only screen and (max-width: 850px) {
    .firstSection-about .leftColumn {
      width: 100%;
    }

    .firstSection-about .rightColumn {
      display: none;
    }

    .counts-container {
      justify-content: space-between;
      width: 100%;
    }

    .counts-container .counts {
      margin-left: var(--space-xs);
      margin-right: var(--space-xs);
    }
  }

  @media only screen and (max-width: 820px) {
    .counts-container .counts p {
      font-size: var(--size-s);
    }
  }

  @media only screen and (max-width: 800px) {
    .firstSection-about {
      margin-top: var(--space-xl);
    }
  }


/* ---------------------------------------------------------------- */

  /* POINTS*/
  @media only screen and (max-width: 1350px) {
    .secondSection-points .points {
      display: grid;
      grid-template-areas:
      "a b"
      "c d";
    }

    .secondSection-points .points:nth-child(1){
      grid-area: a;
    }

    .secondSection-points .points:nth-child(2){
      grid-area: b;
    }

    .secondSection-points .points:nth-child(3){
      grid-area: c;
    }

    .secondSection-points .points:nth-child(4){
      grid-area: d;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .secondSection-points .points {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }

    .secondSection-points .points .cardPoints {
      margin-bottom: var(--space-xs);
    }

    .secondSection-points {
      margin-top: var(--space-l);
    }
  }


  /* ---------------------------------------------------------------- */

  /* SERVICES */
  @media only screen and (min-width: 1500px) {
    .thirdSection-cards .bigCard {
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 1420px) {
    .thirdSection-cards .bigCard {
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 950px) {
    .thirdSection-cards .bigCard {
      justify-content: center;
    }
  }


/* ---------------------------------------------------------------- */

  /* TEAM MEMBERS */
  @media only screen and (max-width: 880px) {
    .teamCards {
      justify-content: center;
    }

    .teamCards .teamMember {
      width: 100%;
      margin-right: 0;
    }

    .teamCards .teamMember .teamMember-description .position {
      margin-right: var(--space-xs);
    }
  }

/* ---------------------------------------------------------------- */


/* RECENZE */
@media only screen and (max-width: 1100px) {
    .fifthSection-recenze .recenze {
      justify-content: center;
    }
}

@media only screen and (max-width: 450px) {
  .fifthSection-recenze .recenze {
    margin-top: calc(var(--space-l) * 1);
  }
}

/* ---------------------------------------------------------------- */




/* KONTAKT */
@media only screen and (max-width: 1000px) {
  .sixthSection-contact .contactPage {
    flex-direction: column;
  }

  .sixthSection-contact .contactPage .formular {
    min-width: 100%;
    margin-right: 0;
  }

  .sixthSection-contact .contactPage .kontaktniInformace {
    min-width: 100%;
    align-items: center;
    margin-top: var(--space-m);
  }

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice {
    justify-content: center;
  }

  .sixthSection-contact .contactPage .kontaktniInformace .mapa {
    margin-top: var(--space-m);
  }
}

@media only screen and (max-width: 600px) {
  .sixthSection-contact .contactPage .kontaktniInformace .mapa iframe {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .sixthSection-contact .contactPage .kontaktniInformace .mapa iframe {
    width: 350px;
  }
}

@media only screen and (max-width: 420px) {
  .sixthSection-contact .contactPage .kontaktniInformace .mapa iframe {
    width: 300px;
  }
}

@media only screen and (max-width: 350px) {
  .sixthSection-contact .contactPage .kontaktniInformace .mapa iframe {
    width: 250px;
  }
}

/* ---------------------------------------------------------------- */


  /* Responsivita šířka outsideBox */
  @media only screen and (min-width: 1500px) {
    .outsideBox {
      width: 75%;
    }
  }

  @media only screen and (min-width: 1950px) {
    .outsideBox {
      width: 65%;
    }
  }

  @media only screen and (min-width: 2250px) {
    .outsideBox {
      width: 60%;
    }
  }

  @media only screen and (min-width: 2450px) {
    .outsideBox {
      width: 55%;
    }
  }

  @media only screen and (min-width: 2650px) {
    .outsideBox {
      width: 50%;
    }
  }

  @media only screen and (min-width: 2950px) {
    .outsideBox {
      width: 45%;
    }
  }

  @media only screen and (min-width: 3250px) {
    .outsideBox {
      width: 40%;
    }
  }


/* ---------------------------------------------------------------- */


/* VELIKOST PÍSMA A LINE */
@media only screen and (max-width: 850px) {
  .footer p {
    font-size: calc(var(--size-m) / 2);
  }

  .thirdSection-cards .line,
  .fourthSection-team .line,
  .fifthSection-recenze .line,
  .sixthSection-contact .line {
    width: 15%;
  }

  .firstSection-about h1 {
    font-size: calc(var(--size-l) * 2);
  }

  .countUp {
    font-size: calc(var(--size-s) * 3);
  }

  .thirdSection-cards h2,
  .fourthSection-team h2,
  .fifthSection-recenze h2,
  .sixthSection-contact h2 {
    font-size: var(--size-xxxl);
  }
}

@media only screen and (max-width: 450px) {
  .footer p {
    font-size: calc(var(--size-m) / 3);
  }

  .thirdSection-cards .line,
  .fourthSection-team .line,
  .fifthSection-recenze .line,
  .sixthSection-contact .line {
    width: 20%;
  }
  
  .firstSection-about h1 {
    font-size: calc(var(--size-m) *2);
  }

  .motto {
    font-size: var(--size-s2);
  }

  .firstSection-about .popis,
  .fourthSection-team .popis,
  .fifthSection-recenze .popis,
  .sixthSection-contact .popis {
    font-size: var(--size-s);
  }

  #motto {
    font-size: var(--size-s);
  }

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice p {
    font-size: var(--size-xs);
  }

  .thirdSection-cards .bigCard {
    padding-top: var(--space-m);
  }

  .fourthSection-team .teamCards .teamMember .teamMember-description .name {
    font-size: var(--size-s2);
  }

  .fourthSection-team .teamCards .teamMember .teamMember-description .position {
    font-size: var(--size-xs);
  }

  .teamCards .teamMember img {
    width: 8rem;
    height: 8rem;
  }

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice .contactIcon {
    font-size: var(--size-xl);
    margin-right: var(--space-xs);
  }
}


@media only screen and (max-width: 350px) {
  .countUp {
    font-size: calc(var(--size-s) * 2);
  }

  .counts-container .counts p {
    font-size: var(--size-xs);
  }

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice:nth-of-type(3) {
    align-items: start;
  }

  .sixthSection-contact .contactPage .kontaktniInformace .dvojice p {
    text-align: center;
  }

}
