
.card {
    width: 18rem;
    height: 26rem;
    background: var(--second-color);
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: start;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: var(--size-s) var(--size-l);
    text-align: center;
  }
  
  .card h2,
  .card p,
  .card span {
    z-index: 1;
    color: white;
    font-size: var(--size-s);
    font-family: var(--main-font);
  }

  .card span {
    margin-top: var(--size-s);
  }

  .card .cardLine {
    width: 25%;
    height: 3px;
    background-color: var(--third-color);
    z-index: 1;
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: -10%;
    width: 10rem;
    background-image: linear-gradient(180deg, var(--third-color), var(--second-color));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: var(--second-color);
    ;
    inset: 5px;
    border-radius: 15px;
  }  
